<% provide(:title, "#{@user.name}のプロフィール") %>
<div class="row">
  <section class="user_info col-md-6">
    <%= render "shared/profile",object: @user%>  
    <p><%= link_to "編集する",edit_user_path(@user) %></p>
  </section>
  <section>
    <div class="panel panel-danger">
    <div class="panel-heading">アカウントの削除</div>
    <ul class="list-group">
      <li class="list-group-item"><%= link_to " アカウントの削除",
                @user, method: :delete,data: {confirm: "本当に削除してもよろしいですか？"} %>
      </li>
    </ul>
  </div>
  </section>

  
</div>