<%provide(:title, "Mytube")%>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
    <section>
        <%= render "shared/youtube"%>
        <%if logged_in? %>
          <%if current_user == @videos[0].user || admin_user? %>
          <%= link_to "一覧ページへ戻る", user_path(current_user) %>
          <%end%>
        <%end%>
    </section>
   </div>
  </div>