<div class="panel panel-info">
    <div class="panel-heading">プロフィール</div>
    <!--<div class="panel-body"></div>-->
      <ul class="list-group">
        <li class="list-group-item"><%= object.name%></li>
        <li class="list-group-item"><%= object.email%></li>
      </ul>
  </div>
