<%provide(:title, "テーマ")%>
  <div class="row">
    <div class="col-xs-9">
    <section>
    <% if @videos.count > 0%>
      <%= render "ranking"%>
    <%else%>
      <p>まだ動画が投稿されていません。</p>
    <%end%>
   </section>
   </div>
  </div>