<div class="row">
    <div class="col-md-6">
    <section>
      <%= render "shared/youtube" %>
    </section>
  </div>

  <div class="col-md-5 col-md-offset-1">
    <p>テーマ一覧</p>  
    <ul class="list-theme">
      <% @themes.each do |theme|%>
      <li><%= link_to theme.category, action: "index",theme: theme.id %></li>
      <%end%>
    </ul>
  </div>
  
</div>

